html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a,
[role='button'],
label[for],
input[type='button'],
input[type='submit'],
input[type='reset'] {
  cursor: pointer;
}